# Restaurant Tips: Can you predict a tip based on guest info?

## Initialize

In [1]:
import pandas as pd
import os

In [2]:
dfTips = pd.read_csv("tips.csv")

In [3]:
dfTips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
dfTips.describe(include='all')

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

## Build simple linear regression

In [5]:
x = dfTips.loc[:, ['total_bill', 'size']]
y = dfTips.loc[:, ['tip']]

x.head()

   total_bill  size
0       16.99     2
1       10.34     3
2       21.01     3
3       23.68     2
4       24.59     4

In [6]:
import numpy as np
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(x, y)

In [7]:
reg.score(x, y)

0.46786930879612587

In [8]:
print('Coefficient: ', reg.coef_)

print('Intercept: ', reg.intercept_)

Coefficient:  [[0.09271334 0.19259779]]
Intercept:  [0.66894474]

In [9]:
# Tip = 0.6689 + 0.0927 * total_bill + 0.1926 * size

new_total_bill = 45.25
new_size = 4

reg.predict([[new_total_bill, new_size]])

array([[5.63461441]])